*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364)!important; 
}
.border-bottom{
    border-color: #8b8c89 !important;
    border-radius: 10px;
}
.triangle-btn{
    position: relative;
}
.triangle {
    width: 150px;
    height: 150px;
	border-bottom: 5px solid #efefef;
	position: relative;
	margin: 0 50px 50px 50px;
    transition: .7s;
}
.triangle::before,.triangle::after{
    content: '';
	position: absolute;
	height: 5px;
	background: #efefef;
    transition: .5s;
}
.triangle::before{
    top: 2px;
    left: 1px;
    right: 12px;
    transform: rotate(54deg);
    transform-origin: 2px 87px;
}
.triangle::after{
    bottom: 0;
    right: 18px;
    left: -2.5px;
    transform: rotate(-57deg);
    transform-origin: 6px 6px;
}
.active{
    transform: rotate(360deg) scale(.5);
}	
.square{
    width: 120px;
    height: 120px;
    background-color: #efefef;
    margin: 30px 50px 0 50px;
    transition: .7s;
}	
.circle{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #efefef;
    margin: 20px 0 0 50px !important;
    transition: .7s;
}
@media screen and (max-width: 787px) {
    .circle-res{
        margin: 20px 0 0 0 !important;
    }
}	
.text-red{
    font-size: 60px;
    text-transform: uppercase;
    color: #efefef;
    margin: 35px 0 0 60px;
    transition: .7s;
}
.text-all{
    font-size: 60px;
    text-transform: capitalize;
    color: #efefef;
    margin: 35px 0 0 40px;
    transition: .7s;
}
/**************** section two - row one ***************/
.circle-black{
    background-color: #000 !important;
}
.square-red{
    background-color: #9d0208 !important;
}
.circle{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #efefef;
    margin: 70px 50px 0 50px;
    transition: .5s;
}	
.triangle-black {
	border-bottom: 5px solid #000;
}
.triangle-black::before,.triangle-black::after{
	background: #000;
}
.square-black{
    background-color: #000 !important;
}
/**************** section two - row two ***************/
.circle-red{
    background-color: #9d0208 !important;
}	
.triangle-gray {
	border-bottom: 5px solid #ccd5ae;
}
.triangle-gray::before,.triangle-gray::after{
	background: #ccd5ae;
}
.square-gray{
    background-color: #ccd5ae !important;
}
.circle-gray{
    background-color: #ccd5ae !important;
}
.triangle-red {
	border-bottom: 5px solid #9d0208;
}
.triangle-red::before,.triangle-red::after{
	background: #9d0208;
}